<h1>Geschenkgutschein</h1>

<label>Betrag</label>

<select id="gutschein-betrag">
    <option value="10">10 €</option>
    <option value="25">25 €</option>
    <option value="50">50 €</option>
    <option value="100">100 €</option>
</select>

<div id="paypal-button-container" style="margin-top:1em;"></div>

<script src="https://www.paypal.com/sdk/js?client-id={{ config.PAYPAL_CLIENT_ID }}&currency=EUR"></script>

<script>
paypal.Buttons({

    createOrder: function(data, actions) {

        const betrag = document.getElementById("gutschein-betrag").value;

        return fetch("/gutschein", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: "betrag=" + betrag
        })
        .then(() => fetch("/create-paypal-order", {
            method: "POST"
        }))
        .then(res => res.json())
        .then(data => data.id);
    },

    onApprove: function(data, actions) {

        return fetch("/capture-paypal-order/" + data.orderID, {
            method: "POST"
        })
        .then(res => res.json())
        .then(data => {

            if(data.status === "success") {
                window.location.href = "/bestelldanke";
            } else {
                alert("Fehler bei der Zahlung");
            }
        });
    },

    onError: function(err) {
        console.error(err);
        alert("PayPal Fehler");
    }

}).render('#paypal-button-container');
</script>
