<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Impressum | I B K - Buchhandlung für Illustration und Bilderbücher</title>

  <link rel="icon" type="image/x-icon" href="static/ficon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>

  
</head>

{% include 'navbar.html' %}

<div class="search-page">

  <h1>{{ titel }}</h1>

<div class="search-book-list">

  {% for produkt in produkte %}

    <div class="book">

      <img src="{{ url_for('static', filename=produkt.bilder[0]) }}" alt="{{ produkt.name }}">

      <h3>{{ produkt.name }}</h3>

      <p>{{ produkt.preis }} </p>

      <a href="{{ url_for('produkt_detail',
            produkt_id=produkt.id,
            slug=produkt.slug) }}">
        Mehr erfahren
      </a>

    </div>

  {% endfor %}

</div>
</div>

{% include 'footer.html' %}

</html>
