

<header>
  <div>
    <a href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='ibk.png') }}" alt="Logo">
    </a>
  </div>





  <nav id="navbar">

  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <ul class="nav-links" id="nav-links">
   <li class="close-btn" onclick="toggleMenu()">✕</li>
  <!--   <li>
      <a href="{{ url_for('index') }}#Jacominus_Gainsborough">Bücher</a>
    </li> -->



<li class="dropdown">

 <a href="#" class="dropdown-toggle">
    Bücher <span>&#9662;</span>
  </a>

  <ul class="dropdown-menu">

 <!--    <li class="dropdown">

      <a href="#" class="dropdown-toggle">
        nach Alter <span>&#9662;</span>
      </a>

      <ul class="dropdown-menu">
        <li><a href="#">ab 3 Jahre</a></li>
        <li><a href="#">ab 4 Jahre</a></li>
        <li><a href="#">ab 5 Jahre</a></li>
      </ul>

    </li> -->





    <li class="dropdown">

      <a href="#" class="dropdown-toggle">
        nach Sprachen <span>&#9662;</span>
      </a>

      <ul class="dropdown-menu">
        <li><a href="{{ url_for('kategorie', name='Deutschsprachige Bücher') }}">Deutschsprachige Bücher</a></li>
        <li><a href="{{ url_for('kategorie', name='Englischsprachige Bücher') }}">Englischsprachige Bücher</a></li>
      </ul>

    </li>

    <!-- <li class="dropdown">

      <a href="#" class="dropdown-toggle">
        nach Themen <span>&#9662;</span>
      </a>

      <ul class="dropdown-menu">
                <li><a href="{{ url_for('kategorie', name='Jacominus Gainsborough') }}">Jacominus Gainsborough</a></li>
                <li><a href="{{ url_for('kategorie', name='Wortlust und Zeichenfreude') }}">Wortlust und Zeichenfreude</a></li>
                <li><a href="{{ url_for('kategorie', name='Zahlen und Buchstaben') }}">Zahlen und Buchstaben</a></li>
                <li><a href="{{ url_for('kategorie', name='Große Städte, große Zeichner') }}">Große Städte, große Zeichner</a></li>
                <li><a href="{{ url_for('kategorie', name='Mut oder Angst?!') }}">Mut oder Angst?!</a></li>
                <li><a href="{{ url_for('kategorie', name='Schlaues Mitraten') }}">Schlaues Mitraten</a></li>
                <li><a href="{{ url_for('kategorie', name='Klassiker') }}">Klassiker</a></li>
                <li><a href="{{ url_for('kategorie', name='Gedanken zum Lebensende') }}">Gedanken zum Lebensende</a></li>
                <li><a href="{{ url_for('kategorie', name='Monstergeschichten') }}">Monstergeschichten</a></li>
                <li><a href="{{ url_for('kategorie', name='Wichtige Fragen') }}">Wichtige Fragen</a></li>
                <li><a href="{{ url_for('kategorie', name='Kunst und Identität') }}">Kunst und Identität</a></li>
                <li><a href="{{ url_for('kategorie', name='Kinder und Gefühle') }}">Kinder und Gefühle</a></li>
                <li><a href="{{ url_for('kategorie', name='Dazugehören') }}">Dazugehören</a></li>
                <li><a href="{{ url_for('kategorie', name='Weihnachten') }}">Weihnachten</a></li>
                <li><a href="{{ url_for('kategorie', name='Bücher über Illustratoren und Illustrationskunst') }}">Bücher über Illustratoren und Illustrationskunst</a></li>
               

                                                                      

    ]
      </ul> -->

    </li>
<li class="dropdown">

  <a href="#" class="dropdown-toggle">
    nach IllustratorInnen <span>&#9662;</span>
  </a>

  <ul class="dropdown-menu">
<li><a href="{{ url_for('kategorie', name='Abner Graboff') }}">Abner Graboff</a></li>
<li><a href="{{ url_for('kategorie', name='Albertine') }}">Albertine</a></li>
<li><a href="{{ url_for('kategorie', name='Anita Kreituse') }}">Anita Kreituse</a></li>
<li><a href="{{ url_for('kategorie', name='Anne Herbauts') }}">Anne Herbauts</a></li>
<li><a href="{{ url_for('kategorie', name='Anni von Bergen') }}">Anni von Bergen</a></li>
<li><a href="{{ url_for('kategorie', name='Britta Teckentrup') }}">Britta Teckentrup</a></li>
<li><a href="{{ url_for('kategorie', name='Ca Rose') }}">Ca Rose</a></li>
<li><a href="{{ url_for('kategorie', name='Canizales') }}">Canizales</a></li>
<li><a href="{{ url_for('kategorie', name='Catarina Knüvener') }}">Catarina Knüvener</a></li>
<li><a href="{{ url_for('kategorie', name='Catherine Rayner') }}">Catherine Rayner</a></li>
<li><a href="{{ url_for('kategorie', name='Davod Ryski') }}">Davod Ryski</a></li>
<li><a href="{{ url_for('kategorie', name='Helga Bansch') }}">Helga Bansch</a></li>
<li><a href="{{ url_for('kategorie', name='Jon Klassen') }}">Jon Klassen</a></li>
<li><a href="{{ url_for('kategorie', name='Karen Minden') }}">Karen Minden</a></li>
<li><a href="{{ url_for('kategorie', name='Katrin Stangl') }}">Katrin Stangl</a></li>
<li><a href="{{ url_for('kategorie', name='Lisbeth Zwerger') }}">Lisbeth Zwerger</a></li>
<li><a href="{{ url_for('kategorie', name='Luisa Stömer und Eva Wünsch') }}">Luisa Stömer und Eva Wünsch</a></li>
<li><a href="{{ url_for('kategorie', name='Maurice Sendak') }}">Maurice Sendak</a></li>
<li><a href="{{ url_for('kategorie', name='Mehrdad Zaeri') }}">Mehrdad Zaeri</a></li>
<li><a href="{{ url_for('kategorie', name='Michael Roher') }}">Michael Roher</a></li>
<li><a href="{{ url_for('kategorie', name='Mies van Hout') }}">Mies van Hout</a></li>
<li><a href="{{ url_for('kategorie', name='Miroslav Šašek') }}">Miroslav Šašek</a></li>
<li><a href="{{ url_for('kategorie', name='Natalia Shaloshvili') }}">Natalia Shaloshvili</a></li>
<li><a href="{{ url_for('kategorie', name='Renate Habinger') }}">Renate Habinger</a></li>
<li><a href="{{ url_for('kategorie', name='Rébecca Dautremer') }}">Rébecca Dautremer</a></li>
<li><a href="{{ url_for('kategorie', name='Sabine Rufener') }}">Sabine Rufener</a></li>
<li><a href="{{ url_for('kategorie', name='Sara Lundberg') }}">Sara Lundberg</a></li>
<li><a href="{{ url_for('kategorie', name='Sydney Smith') }}">Sydney Smith</a></li>
<li><a href="{{ url_for('kategorie', name='Vincent Boudgourd') }}">Vincent Boudgourd</a></li>
<li><a href="{{ url_for('kategorie', name='Wolf Erlbruch') }}">Wolf Erlbruch</a></li>
<li><a href="{{ url_for('kategorie', name='Ximo Abadía') }}">Ximo Abadía</a></li>
<li><a href="{{ url_for('kategorie', name='Ånsken Eckert') }}">Ånsken Eckert</a></li>
<li><a href="{{ url_for('kategorie', name='Sonja Danowski') }}">Sonja Danowski</a></li>


  </ul>

</li>

  </ul>

</li>






    
    <li>
      <a href="{{ url_for('suche') }}">Suche 🔍 </a>
    </li>
    <li class="cart">
      <a href="{{ url_for('cart') }}"> Warenkorb 🛒 <span id="cart-count">0</span></a>
    </li>
    <li class="widerruf">
      <a href="{{ url_for('widerruf') }}"> Widerrufsformular und Rücksendung </a>
    </li>
  
  </ul>

</nav> 
  
</header>
