

<header>
  <div>
    <a href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='ibk.png') }}" alt="Logo">
    </a>
  </div>

<!--  <nav id="navbar" class="mobile-menu">
    <!-- Hamburger & Close Icon --
    <div class="mobile-menu" onclick="toggleMobileMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <div class="close-menu" onclick="toggleMobileMenu()">
      <i class="fas fa-times"></i>
    </div>
    
    <!-- Mobile & Desktop Nav Links --
    <ul class="nav-links" id="nav-links" ">
      <li>
        <a href="{{ url_for('index') }}#Jacominus_Gainsborough"> Bücher </a>
      </li>
      
      <li >
        <a href="{{ url_for('suche') }}"> &#x1F50D; </a>
      </li>
     <li class="cart">
        <a href="{{ url_for('cart') }}">🛒 <span id="cart-count">0</span></a>
      </li> --

      
      <li class="user-info"> <a href="{{ url_for('login') }}" class="user-icon">👤
        {% if current_user %}
         <span class="user-points">{{ current_user.punkte }}</span>
        {% endif %}
       </a>
      </li>
    

    </ul>
  </nav>-->


<nav id="navbar">

  <!-- Hamburger -->
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <!-- Dropdown Menu -->
  <ul class="nav-links" id="nav-links">

    <li class="close-btn" onclick="toggleMenu()">✕</li>

    <li class="dropdown">

      <a href="{{ url_for('index') }}#Jacominus_Gainsborough"
         onclick="toggleDropdown(event)">
        Bücher ▾
      </a>

      <ul class="dropdown-menu">

        <li><strong>Nach Sprachen</strong></li>

        <li>
          <a href="/kategorie/deutsch">
            Deutsch
          </a>
        </li>

        <li>
          <a href="/kategorie/englisch">
            Englisch
          </a>
        </li>

        <li><strong>Nach Themen</strong></li>

        <li>
          <a href="/kategorie/freundschaft">
            Freundschaft
          </a>
        </li>

        <li>
          <a href="/kategorie/gefuehle">
            Gefühle
          </a>
        </li>

      </ul>

    </li>

    <li>
      <a href="{{ url_for('suche') }}">Suche 🔍 </a>
    </li>

    <li class="cart">
      <a href="{{ url_for('cart') }}">
        Warenkorb 🛒 <span id="cart-count">0</span>
      </a>
    </li>

    <li class="widerruf">
      <a href="{{ url_for('widerruf') }}">
        Widerrufsformular und Rücksendung
      </a>
    </li>

  </ul>

</nav>

  
</header>
