<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Über I B K | I B K - Buchhandlung für Illustration und Bilderbücher</title>

  <link rel="icon" type="image/x-icon" href="static/ficon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</head>

<body>

{% include 'navbar.html' %}

<div class="rechtliches">
  <h1>Willkommen in der Welt der Bilderbücher</h1>

  <p style="font-size: 1.1rem; margin-top: 40px">
    
  Bei der I B K sind keine Algorithmen am Werk, sondern große Liebe für das gedruckte Wort und das kunstvolle Bild.<br>
  Abseits der austauschbaren Bestseller-Listen bietet diese Online-Buchhandlung eine Zuflucht für  Illustrationskunst- und Literaturliebhaber sowie Eltern, die sich und ihren Kindern mehr als nur flüchtige Unterhaltung schenken wollen.<br><br>
    
  Das Herzstück von I B K ist die tiefe Verbeugung vor den Illustratorinnen und Illustratoren sowie Autorinnen und Autoren. Jedes Buch im Sortiment wurde mit einem Gespür für das geschriebene Wort und visuelle Poesie ausgewählt. Bücher – gemacht, um immer wieder neu in die Hand genommen zu werden.<br><br>
    
  Mit detaillierten Angaben zu Haptik und Alter sowie einem rundum sicheren und versandkostenfreien Service innerhalb Deutschlands ermöglicht I B K, dass moderner Online-Handel und die Liebe zum traditionellen Buchhandwerk perfekt harmonieren. <br>Ein Ort zum Entdecken, Verweilen und Verschenken.
  </p>
</div>

{% include 'footer.html' %}

</body>
</html>
