<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> I B K - Buchhandlung für Illustration und Bilderbücher | Widerrufsformular  </title>
  <link rel="icon" type="image/x-icon" href="static/ficon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


  <script src="{{ url_for('static', filename='script.js') }}" defer></script>

  
</head>

  {% include 'navbar.html' %}

<div id="navbar-placeholder"></div>
<body>

   


 <section class="rechtliches" >
   <h1>Widerrufsformular</h1><br>

  
  <h4>  Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*) / die Erbringung der folgenden Dienstleistung (*) :
 </h4><br> 

   
<form action="/submitwiderruf" method="POST" class="kontakt-form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="name">Name des/der Verbraucher(s):
     <input type="text" id="name" name="name" required>
  </label>
  
  
  <label for="email">E-Mail des/der Verbraucher(s):
     <input type="email" id="email" name="email" required>
  </label>
  
  <label for="anschrift">Anschrift des/der Verbraucher(s):
       <input type="text" id="name" name="anschrift" required>
  </label>
  
   <label for="datum"> <label for="datum">Datum der Bestellung:
       <input type="text" id="datum" name="datum" required>
   </label>

    <label for="warenbezeichnung"> <label for="warenbezeichnung">Bezeichnung der Ware(n):
       <input type="text" id="warenbezeichnung" name="warenbezeichnung" required>
    </label>


    <label for="anzahl"> <label for="anzahl"> Anzahl der bestellten Waren:
       <input type="text" id="anzahl" name="anzahl" required>
    </label>
      
  
 
  

<label for="nachricht">Nachricht (optional): </label>
  <input id="nachricht" name="message"></input><br>

  <button type="submit">Absenden</button>

</form>
 
</section>

  {% include 'footer.html' %}

</body>
</html>

 
