<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>I B K - Buchhandlung für Illustration und Bilderbücher | Widerrufsformular</title>

  <link rel="icon" type="image/x-icon" href="static/ficon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  <style>

  </style>
</head>

<body>

  {% include 'navbar.html' %}

  <section class="rechtliches">
    <h1>Widerruf und Rücksendungen</h1>
    
<div class="checkout-layout">
  <div class="checkout-form" style="flex: 1;">

    <h3>Widerrufsformular</h3>

    <h4>
      Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf
      der folgenden Waren (*) / die Erbringung der folgenden Dienstleistung (*):
    </h4>

    <form action="/submitwiderruf" method="POST" class="kontakt-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <label for="name"></label>
      <input type="text" id="name" name="name" placeholder="Name" required>

      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="E-Mail" required>

      <label for="anschrift"></label>
      <input type="text" id="anschrift" name="anschrift" placeholder="Adresse" required>

      <label for="datum"></label>
      <input type="text" id="datum" name="datum" placeholder="Datum der Bestellung" required>

      <label for="anzahl"></label>
      <input type="text" id="anzahl" name="anzahl" placeholder="Anzahl der bestellten Waren" required>

      <label for="warenbezeichnung"></label>
      <input type="text" id="warenbezeichnung" name="warenbezeichnung" placeholder="Bezeichnung der Waren" required>

      <label for="nachricht"></label>
      <textarea type="text" id="nachricht" name="message" placeholder="Nachricht (optional)"></textarea>

      <button type="submit">Absenden</button>
    </form>

  
  </div>

     
  

  <div class="checkout-text" style="flex: 1">

    <h3>Rücksendung</h3>

    <p>
      Auch bei uns kann es vorkommen, dass ein Artikel nicht Deinen Vorstellungen entspricht.
      Als Endverbraucher steht Dir ein gesetzliches Widerrufsrecht zu, das Du in Anspruch nehmen kannst.
    </p>

    <p>
      Genehmigte Retouren senden Sie bitte ausreichend frankiert an:
    </p>

    <p>
     <strong> Moluna GmbH – Buchbutler Retoure<br>
      Engberdingdamm 27<br>
      48268 Greven</strong> 
    </p>

    <p>
      <strong>Wichtig:</strong> Rücksendungen können nur angenommen werden, wenn sie ausreichend frankiert sind.
      Unfreie Sendungen werden nicht entgegengenommen.
    </p>

    <p>
  Nähere Informationen zum gesetzlichen Widerrufsrecht finden Sie auch in unseren AGBs.
</p>

<p>
  <strong>Erstattung:</strong> Nach Eingang der Rücksendung wird die Ware zunächst geprüft. Bitte achten Sie darauf,
  die Artikel sorgfältig zu behandeln und zeitnah zurückzusenden.
</p>

<p>
  Die Rückerstattung erfolgt anschließend über die ursprünglich gewählte Zahlungsart.
</p>

<p>
  <strong>Fehlerhafte oder beschädigte Lieferung:</strong> Falls etwas mit Ihrer Bestellung nicht in Ordnung sein sollte, kontaktieren Sie bitte unseren Kundenservice unter:
  kontakt@ibk-bilderbuch.de
</p>

<p>
  Bitte halten Sie Ihre Bestellnummer bereit, damit wir Ihre Anfrage schnell und unkompliziert bearbeiten können.
</p>
    
  </div>
  </div>

  </section>

  {% include 'footer.html' %}

</body>
</html>
